<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WBS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .container > .row {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>도도 카트</h1>
        <div class="list-group">
            <a href="/wbs/288" class="list-group-item list-group-item-action">코어 스쿼드</a>
            <a href="/wbs/286" class="list-group-item list-group-item-action">벤더 스쿼드</a>
            <a href="/wbs/263?type=kanban" class="list-group-item list-group-item-action">운영 이슈 칸반</a>
            <a href="/wbs/300?type=kanban" class="list-group-item list-group-item-action">백엔드 이슈 칸반</a>
        </div>
    </div>
    <div class="row">
        <h1>도도 포인트</h1>
        <div class="list-group">
            <a href="/wbs/298" class="list-group-item list-group-item-action">B2C 스쿼드</a>
            <a href="/wbs/299?type=kanban" class="list-group-item list-group-item-action">운영 이슈 칸반</a>
        </div>
    </div>
</div>
</body>
</html>